@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.cadastro {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroud);
}

.container {
    display: flex;
    width: 90%;
    height: 88vh;
    justify-content: center;
    align-items: center;
}

.security-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.security-select > label {
    margin-bottom: 12px;
}

.security-resposta {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.data-hora {
    display: flex;
    justify-content: space-between;
}

.data-hora {
    color: white;
}
.input-data > input {

    display: flex;
    text-align: center;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 8px;
    color: rgb(96, 110, 97) ;
    box-shadow: 0px 10px 40px #00000056;
}
.input-hora > input {

    display: flex;
    text-align: center;
    margin: 0.6rem 0;
    padding: 0.8rem 0;
    border: none;
    border-radius: 8px;
    color: rgb(96, 110, 97) ;
    box-shadow: 0px 10px 40px #00000056;
}

.security-select > select {
    border: none;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    margin-left: ;
}


.form {
    
    width: 35%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary);
    border-radius: 20px 0px 0px 20px;
    padding: 3rem;
}

.form-end {
    width: 30%;
    height: 88vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--primary);
    border-radius: 0px 20px 20px 0px;
    padding: 3rem;
}


.form-end > form {
    margin-top: 7.8rem;
}

.cep-rua {
    display: flex;
    padding: 1rem 0;
}

.input-CEP > input {
    width: 10vw;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 8px;
    color: rgb(96, 110, 97) ;
    box-shadow: 0px 10px 40px #00000056;
}


.input-numero > label {
    margin-left: 2.4rem;
    color: white;
}

.input-numero > input {
    width: 9vw;
    margin: 0.6rem 0;
    margin-left: 2.3rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 8px;
    color: rgb(96, 110, 97) ;
    box-shadow: 0px 10px 40px #00000056;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 0.4rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px black ;
}
.login-button button a{
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2.5px;
    color: white ;
}

.login-button button:hover {
    background-color: rgba(0, 0, 0, 0.450);
    transition: 0.6s;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgba(0, 0, 0, 0.450);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-box >label {
    color: white;
}

.select-box label {
    color: white;
}
.select-box > select {
    border: none;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    margin-left: ;
}

.input-box > input {
    width: 22vw;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 8px;
    color: rgb(96, 110, 97) ;
    box-shadow: 0px 10px 40px #00000056;
}

.continue-button {
    display: flex;
    justify-content: center;
}

.continue-button > button  {
    width: 70%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px black ;
}

.continue-button > button a {
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2.5px;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
    .form-end {
        width: 60%;
    }
}