<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal Administrador</title>
    <link rel="shortcut icon" type="image/jpg" href="../img/favicon.ico"/>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style-administrador-principal.css">
    <!--<a href="https://storyset.com/people">People illustrations by Storyset</a>-->
  </head>
  <body>
    <header>
      <nav>
        <img src="../img/Logo-Recycle-Transparente.png" alt="Logotipo RECycle" height="75px">
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="a-hover"><a href="/index">Sair</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
        <div class="cards-div">
        <main class="cards">
            <section class="card n1">
              <div class="icon">
                <img src="../img/visao-da-empresa.png" alt="Lixeira_Reciclagem" width="100px">
              </div>      
                <h3>Empresa</h3>
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                    <button type="subimit"><a th:href="@{/empresas}">Consultar</a></button>
            </section>
            <section class="card n2">
              <div class="icon">
                <img src="../img/condominio.png" alt="Lixeira_Reciclagem" width="100px">
              </div>  
                <h3>Condominio</h3>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                <button><a  th:href = "@{/usuarios}" >Consultar</a></button>
            </section>
            <section class="card n3">
              <div class="icon">
                <img src="../img/calendario.png" alt="Usina_Reciclagem" width="100px">
              </div>
                <h3>Agendamento</h3>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                <button><a href="#">Consultar</a></button>
            </section>
        </main>
        </div>
        
    </div>
   </body>
</html>