<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal Empresa</title>
    <link rel="shortcut icon" type="image/jpg" href="../img/favicon.ico"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/style-empresa-principal.css">
    <!--<a href="https://storyset.com/people">People illustrations by Storyset</a>-->
  </head>
  <body>
    <header>
      <nav>
        <img src="../img/Logo-Recycle-Transparente.png" alt="Logotipo RECycle" height="75px">
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="/Telas-Condominio">Agendamentos</a></li>
            <li><a class="cor-unica" th:href = "|/editarEmpresa?cnpj=${session.usuarioLogado.cnpj}|">Dados </a></li>
        </ul>
        <ul class="nav-list">
          <li class="a-hover"><a href="/index">Sair</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
        <div class="cards-div">
        <main class="cards">

            <section class="card n1">   
                <h3>agendamentos do dia</h3>
                    <span>número total:</span>
                    <div class="icon">
                        <img src="../img/calendario01.png" alt="Lixeira_Reciclagem" width="100px">
                    </div> 
                    <button type="subimit"><a href="#">Ver</a></button>
            </section>

            <section class="card n2">
                <h3>agendamentos da semana</h3>
              
                <span>número total:</span>
                <div class="icon">
                    <img src="../img/calendario02.png" alt="Lixeira_Reciclagem" width="100px">
                </div>  
                <button><a href="#">Ver</a></button>
            </section>

            <section class="card n3">
                <h3>todos os agendamentos</h3>
                <span>número total:</span>
                <div class="icon">
                    <img src="../img/calendario03.png" alt="Usina_Reciclagem" width="100px">
                 </div>
                <button><a href="#">Ver</a></button>
            </section>
        </main>
        </div>
        <div class="lista-agendamento">
            <div class="lista">
                
            </div>
        </div>
    </div>
   </body>
</html>